<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Title</title>
    <div th:replace="header::common_resource"></div>
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>


<!--<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>-->

<script type="text/html" id="imageTemplet">
    <image src="{{d.mainImageFullUrl}}"></image>
</script>


<script>
    /*layui.use(['table'], function() {

    });*/
    layui.use(['table', 'laydate'], function(){
        var table = layui.table;
        var laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#beginGmtCreateId'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endGmtCreateId'
            ,type: 'datetime'
        });

        table.render({
            elem: '#test'
            ,url:'/order/selectDetailByPage?id=order.orderNo'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [
                [
                    /*{type: 'checkbox', fixed: 'left'}
                    ,*/
                    {field:'id', title:'编号',  fixed: 'left', sort: true}
                    ,{field:'orderNo', title:'订单编号'}
                    ,{field:'userId', title:'用户编号'}
                    ,{field:'productId', title:'商品编号'}
                    ,{field:'productName', title:'商品名称'}
                    ,{field:'productImage', title:'商品图片', templet:'#imageTemplet'}
                    ,{field:'currentUnitPrice', title:'商品单价'}
                    ,{field:'quantity', title:'商品数量'}
                    ,{field:'totalPrice', title:'商品总价'}
                    ,{field:'gmtCreate', title:'创建时间',templet:"<div>{{d.gmtCreate?layui.util.toDateString(d.gmtCreate, 'yyyy-MM-dd HH:mm:ss'):'未知'}}</div>"}
                    ,{field:'gmtModified', title:'修改时间',templet:"<div>{{d.gmtCreate?layui.util.toDateString(d.gmtCreate, 'yyyy-MM-dd HH:mm:ss'):'未知'}}</div>"}
                ]
            ]
            ,page: true
            ,id: 'tableId'
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 2,
                        area: ['550px', '400px'],
                        content: '/order/getUserAddPage'
                    });
                    break;
                case 'deleteAll':
                    //[{"id":4,"name":"4","password":null,"age":0,"address":null},{"id":6,"name":"6","password":null,"age":0,"address":null}]
                    var data = checkStatus.data;
                    var ids = [];
                    $(data).each(function() {
                        ids.push(this.orderNo);
                    });
                    //[4,6]
                    ids = ids.join(',');// '4,6'
                    layer.confirm('真的删除行么', function(index){
                        $.post(
                            '/order/deleteAll',
                            {'ids': ids},
                            function(jsonResult) {
                                if (jsonResult.ok) {
                                    mylayer.okMsg(jsonResult.msg);
                                    //删除之后重新刷新table表格
                                    //table.reload('tableId');

                                    table.reload('tableId', {
                                        done: function (res, curr, count) {
                                            if (curr > 1 && res.data.length === 0) {
                                                curr = curr - 1;
                                                table.reload('tableId', {
                                                    page: {
                                                        curr: curr
                                                    },
                                                })
                                            }
                                        }
                                    });
                                } else {
                                    mylayer.errorMsg(jsonResult.msg)
                                }
                            },
                            'json'
                        );
                        layer.close(index);
                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.post(
                        '/order/deleteById',
                        {'id': data.orderNo},
                        function(jsonResult) {
                            console.log(jsonResult);
                            if (jsonResult.ok) {
                                mylayer.okMsg(jsonResult.msg);
                                //删除之后重新刷新table表格
                                //table.reload('tableId');

                                // 重载表格
                                table.reload('tableId', {
                                    done: function (res, curr, count) {
                                        if (curr > 1 && res.data.length === 0) {
                                            curr = curr - 1;
                                            table.reload('tableId', {
                                                page: {
                                                    curr: curr
                                                },
                                            })
                                        }
                                    }
                                });
                            } else {
                                mylayer.errorMsg(jsonResult.msg)
                            }
                        },
                        'json'
                    );
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    area: ['950px', '600px'],
                    content: '/order/getOrderUpdatePage?id=' + data.orderNo
                });
            }
            else if(obj.event === 'detail'){
                layer.open({
                    type: 2,
                    area: ['950px', '600px'],
                    content: '/order/getOrderDetailPage?id=' + data.orderNo
                });
            }
        });


        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('tableId', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        userId: $('#userId').val(),
                        orderNo: $('#orderNo').val(),
                        beginGmtCreate: $('#beginGmtCreateId').val(),
                        endGmtCreate: $('#endGmtCreateId').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>